<%- include('../includes/head.ejs') %>
<main class="login-main">
  <div class="login-container">
    <h2>Reset Password</h2>
    <form class="login-form" action="/new-password" method="post">
      <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" />
      </div>
      <% if (errorMessage) { %>
      <div>
        <p class="error-message"><%= errorMessage %></p>
      </div>
      <%} %>

      <div>
        <button class="primary" type="submit">Reset Password</button>
        <input type="hidden" value="<%= userID %>" />
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      </div>
    </form>
  </div>
</main>

<%- include('../includes/footer.ejs') %>
