<%- include('../includes/head.ejs') %>
<main>
  <div class="order-id">
    <span> Order ID: </span><%= order._id %>
    <p class="order-user-information"><%= order.user.name %></p>
    <p class="order-user-information"><%= order.user.email %></p>
  </div>
  <% order.items.map(item => { %>
  <div class="cart-grid">
    <div class="cart-card">
      <div class="cart-img">
        <img src="<%= item.imageUrl %>" alt="<%= item.title %>" />
      </div>
      <div class="cart-info">
        <div class="cart-head">
          <h3 class="cart-title"><%= item.title %></h3>
          x
          <span><%= item.quantity %></span>
        </div>
        <div class="cart-desc-price">
          <p class="cart-description"><%= item.description %></p>
          <span class="cart-price"><%= item.price %>$</span>
        </div>
      </div>
    </div>
  </div>
  <% }) %>
</main>
<%- include('../includes/footer.ejs') %>
