<%- include('../includes/head.ejs',{isLoggedIn:isLoggedIn}) %>

<main>
  <% order.forEach(ordr => { %>
  <div class="user-order-information">
    <h3><%= ordr.user.map(usr => usr.username) %></h3>
    <h5><%= ordr.user.map(usr => usr.userID) %></h5>
  </div>
  <% ordr.products.forEach(product =>{ %>

  <div class="container">
    <div class="product-order-information">
      <div class="">
        <img
          src="<%= product.product.imageUrl %>"
          alt="<%= product.product.title %>"
          class="order-image"
        />
      </div>

      <div>
        <h3 class="order-title">
          <%= product.product.title %> x <%= product.quantity %>
        </h3>
        <h5 class="order-id"><%= product._id %></h5>
        <p><%= product.product.description %></p>
        <p><%= product.product.price * product.quantity%> ₺</p>
      </div>
    </div>
  </div>

  <% }) %> <% }) %>
</main>
<%- include('../includes/footer.ejs') %>
